.video {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -272px;
    margin-left: -640px;
    
}

body {
    background-image: url("http://www.mrwallpaper.com/wallpapers/space-sparkling-stars-1920x1200.jpg");
    background-color: #000000;
}