<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Welcome to my new site!!!</h2>
                <hr class="light">
                <p class="text-faded">Things aren't quite finished yet, but feel free to observe my progress.</p>
                <a href="#" class="btn btn-default btn-xl">Scroll Up</a>
            </div>
        </div>
    </div>
</section>
