<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="../why/why.html" class="portfolio-box">
                    <img src="../why/why_feature.jpg" class="img-responsive" alt="start with why">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Question
                            </div>
                            <div class="project-name">
                                Start with Why
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="../wanderers/wanderers.html" class="portfolio-box">
                    <img src="../wanderers/planet.jpg" class="img-responsive" alt="wanderers video">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Discover
                            </div>
                            <div class="project-name">
                                Embrace Curiosity
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../ted/ted_feature.png" class="img-responsive" alt="exceptional ted talks">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Learn
                            </div>
                            <div class="project-name">
                                Exceptional Ted Talks
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="chile/chile_feature.jpg" class="img-responsive" alt="chile visit">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stay Tuned
                            </div>
                            <div class="project-name">
                                Chile
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="../blog" class="portfolio-box">
                    <img src="mexico/mexico_feature.jpg" class="img-responsive" alt="mexico blog">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Adventure
                            </div>
                            <div class="project-name">
                                Mexico
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="ecuador/ecuador_feature.jpg" class="img-responsive" alt="ecuador blog">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Stay Tuned
                            </div>
                            <div class="project-name">
                                Ecuador
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
