.image {
    width: 500px;
    border-radius: 5px;
    border: solid dodgerblue 5px;
}

.centered {
    text-align: center;
    align: center;
}

body {
    background-color: pink;
}

.title {
    font-family: Garamond;
    font-size: 30px;
    text-align: center;
    align: center;
}